<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Registration</title>
</head>

<body id="login">

    <div class="overlay">

        <!-- ======================Registration form================================= -->
        <div class="container pt-5">
       
            <% if (emailIsExists.length) { %>
                <div class="alert alert-danger text-center" role="alert">
                    user already exists
                    </div>
            <% } %>

            <div class="row">
                <div class="col-md-7 m-auto p-5">
                    <div class="form p-5 ">
                        <h2 class="text-center text-white">Registration</h2>
                        <form action="/signup" method="POST">
                            <div class="row mt-3">
                            
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" name='firstName' value='<%=firstname %>' class="form-control col-xs-12 col-md-6 inp pt-3 " placeholder="First Name">
                                </div>
                             


                                <div class="col-xs-12 col-md-6">
                                    <input type="text" name='lastName' value='<%=lastName %>' class="form-control inp pt-3 col-xs-12 col-md-6" placeholder="Last Name">
                                </div>

                                
                            </div>

                            <% if (errorsInp.find(e => e.param == 'firstName')) { %>
                                <div class="alert alert-danger" role="alert">
                                    input first name is invalid
                                  </div>
                            <% } %>

                            <% if (errorsInp.find(e => e.param == 'lastName')) { %>
                                <div class="alert alert-danger" role="alert">
                                    input last name is invalid
                                    </div>
                            <% } %>
                            <input type="text" value="<%= userName %>" name='userName' class="form-control inp pt-3" placeholder="Username">

                            <% if (errorsInp.find(e => e.param == 'userName')) { %>
                                    <div class="alert alert-danger" role="alert">
                                        input Username is invalid
                                    </div>
                            <% } %>

                            <input type="email" value="<%= email %> " name="email" class="form-control inp pt-3" placeholder="Email">
                            
                            <% if (errorsInp.find(e => e.param == 'email')) { %>
                                <div class="alert alert-danger" role="alert">
                                    input email is invalid
                                </div>
                            <% } %>

                            <input type="password"  name='password' class="form-control inp pt-3 mb-3" placeholder="Password">
                            
                            
                            <% if (errorsInp.find(e => e.param == 'password')) { %>
                                <div class="alert alert-danger" role="alert">
                                    input password is invalid
                                </div>
                            <% } %>


                            <button type="submit " class="btn btn-outline-info text-white w-100">Sign Up</button>
                            <p class="text-center pb-3"> <a href="/" class="text-white mt-3 d-block">Sign In Here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('share/footer')  %> 